In [1]:
data.lwdf<-read.delim("Lecturer data.dat", header=TRUE)
str(data.lwdf)

'data.frame':	10 obs. of  7 variables:
 $ name      : chr  "Ben" "Martin" "Andy" "Paul" ...
 $ birth_date: chr  "7/3/1977" "5/24/1969" "6/21/1973" "7/16/1970" ...
 $ job       : int  1 1 1 1 1 2 2 2 2 2
 $ friends   : int  5 2 0 4 1 10 12 15 12 17
 $ alcohol   : int  10 15 20 5 30 25 20 16 17 18
 $ income    : int  20000 40000 35000 22000 50000 5000 100 3000 10000 10
 $ neurotic  : int  10 17 14 13 21 7 13 9 14 13

In [3]:
lecturePersonality<-data.lwdf[,c("friends","alcohol","neurotic")]
head(lecturePersonality, 5)

  friends alcohol neurotic
1 5       10      10
2 2       15      17
3 0       20      14
4 4        5      13
5 1       30      21

In [17]:
hanyaDosen<-data.lwdf[job=="Lecturer",]

ERROR: Error in `[.data.frame`(data.lwdf, job == "Lecturer", ): object 'job' not found

In [13]:
data.lwdf$job

 [1] 1 1 1 1 1 2 2 2 2 2

In [6]:
data.rshp<-read.delim("Honeymoon Period.dat", header=TRUE)
head(data.rshp)

  Person Satisfaction_Base Satisfaction_6_Months Satisfaction_12_Months
1 1      6                  6                    5
2 2      7                  7                    8
3 3      4                  6                    2
4 4      6                  9                    4
5 5      6                  7                    6
6 6      5                 10                    4
  Satisfaction_18_Months Gender
1 2                      0
2 4                      1
3 2                      1
4 1                      0
5 6                      0
6 2                      1

In [7]:
satisfactionStacked<-stack(data.rshp, select = c("Satisfaction_Base", 
                                                        "Satisfaction_6_Months", 
                                                        "Satisfaction_12_Months", 
                                                        "Satisfaction_18_Months"))

In [8]:
head(satisfactionStacked)

  values ind
1 6      Satisfaction_Base
2 7      Satisfaction_Base
3 4      Satisfaction_Base
4 6      Satisfaction_Base
5 6      Satisfaction_Base
6 5      Satisfaction_Base

In [15]:
library(reshape)
restructuredData<-melt(data.rshp, id = c("Person", "Gender"), 
                       measured = c("Satisfaction_Base", "Satisfaction_6_Months", "Satisfaction_12_Months", 
                                    "Satisfaction_18_Months"))
head(restructuredData)

  Person Gender variable          value
1 1      0      Satisfaction_Base 6
2 2      1      Satisfaction_Base 7
3 3      1      Satisfaction_Base 4
4 4      0      Satisfaction_Base 6
5 5      0      Satisfaction_Base 6
6 6      1      Satisfaction_Base 5

In [16]:
data.cepat<-tribble(
  ~Nama, ~NoHP,~JenisKelamin, ~StatusNikah,
  "aandi",   111, "Laki-Laki", "Kawin",
  "budi",   222, "Perempuan", "Kawin",
  "cinta",   333, "Laki-Laki", "Tidak Kawin",
)

ERROR: Error in tribble(~Nama, ~NoHP, ~JenisKelamin, ~StatusNikah, "aandi", 111, : could not find function "tribble"

In [29]:
library(reshape)
data.frame.cepat<-data.frame(data.cepat)
newData<-melt(data.frame.cepat, id = c("Nama", "NoHP"), 
                       measured = c("Jenis Kelamin", "Status Nikah"))

In [30]:
newData

  Nama  NoHP variable     value
1 aandi 111  JenisKelamin Laki-Laki
2 budi  222  JenisKelamin Perempuan
3 cinta 333  JenisKelamin Laki-Laki
4 aandi 111  StatusNikah  Kawin
5 budi  222  StatusNikah  Kawin
6 cinta 333  StatusNikah  Tidak Kawin

In [17]:
library(tidyverse)
data.pgw<-tribble(
  ~Nama, ~NoHP,~Gaji2010, ~Gaji2020,
  "aandi",   111, 5000000, 15000000,
  "budi",   222, 10000000, 25000000,
  "cinta",   333, 3000000, 7000000,
)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.3     v purrr   0.3.4
v tibble  3.1.2     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x tidyr::expand() masks reshape::expand()
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
x dplyr::rename() masks reshape::rename()

In [18]:
options(scipen=999)
data.pegawai.ringkas<-data.frame(data.pgw)

In [19]:
data.baru<-melt(data.pegawai.ringkas, id=c("Nama", "NoHP"), measured=c("Gaji2010", "Gaji2020"))

In [20]:
data.baru

  Nama  NoHP variable value
1 aandi 111  Gaji2010  5000000
2 budi  222  Gaji2010 10000000
3 cinta 333  Gaji2010  3000000
4 aandi 111  Gaji2020 15000000
5 budi  222  Gaji2020 25000000
6 cinta 333  Gaji2020  7000000

In [27]:
unstack(data.baru)

Warning message in Ops.factor(NoHP, variable):
"'+' not meaningful for factors"

     res

In [26]:
df

  Nama  NoHP variable value
1 aandi 111  Gaji2010  5000000
2 budi  222  Gaji2010 10000000
3 cinta 333  Gaji2010  3000000
4 aandi 111  Gaji2020 15000000
5 budi  222  Gaji2020 25000000
6 cinta 333  Gaji2020  7000000