# Korelasi
***

$Variance (s^2) = \frac{(x_i-\bar x)(x_i-\bar x)}{N-1}$ 

* Apabila kita tertarik untuk mengerahui apakah dua variabel berkorelasi satu sama lain maka kita harus melihat apakah perubahan pada suatu variabel akan diikuti oleh perubahan pada variabel lain.
* Apabila suatu variabel terdeviasi dari meannya maka kita berharap variabel lainnya akan terdeviasi dari mean dengan cara yang sama.

# Bivariate Correlation
korelasi antara dua variabel 
## Pearson Correlation
## Spearman Correlation
## Kendall Tau

Di dalam r ada beberapa cara untuk menghitung korelasi :
* __cor()__ r base
* __cor.test()__ r base
* __rcorr()__ melalui paket *Hmisc*

# Partial Correlation
korelasi antara dua variabel sambil melakukan kontrol pada efek dari satu atau lebih variabel tambahan

In [1]:
data.corr<-read.delim("Exam Anxiety.dat", header=TRUE)

In [3]:
summary(data.corr)

      Code           Revise           Exam           Anxiety
 Min.   :  1.0   Min.   : 0.00   Min.   :  2.00   Min.   : 0.056
 1st Qu.: 26.5   1st Qu.: 8.00   1st Qu.: 40.00   1st Qu.:69.775
 Median : 52.0   Median :15.00   Median : 60.00   Median :79.044
 Mean   : 52.0   Mean   :19.85   Mean   : 56.57   Mean   :74.344
 3rd Qu.: 77.5   3rd Qu.:23.50   3rd Qu.: 80.00   3rd Qu.:84.686
 Max.   :103.0   Max.   :98.00   Max.   :100.00   Max.   :97.582
    Gender
 Length:103
 Class :character
 Mode  :character

In [4]:
str(data.corr)

'data.frame':	103 obs. of  5 variables:
 $ Code   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Revise : int  4 11 27 53 4 22 16 21 25 18 ...
 $ Exam   : int  40 65 80 80 40 70 20 55 50 40 ...
 $ Anxiety: num  86.3 88.7 70.2 61.3 89.5 ...
 $ Gender : chr  "Male" "Female" "Male" "Male" ...

In [5]:
cor(data.corr, use="complete.obs", method="pearson")

ERROR: Error in cor(data.corr, use = "complete.obs", method = "pearson"): 'x' must be numeric

In [11]:
cor(data.corr$Exam, data.corr$Anxiety, use="complete.obs", method="pearson")

[1] -0.4409934

In [10]:
cor(data.corr$Exam, data.corr$Anxiety, use="complete.obs", method="kendall")

[1] -0.2847919

In [9]:
cor(data.corr$Exam, data.corr$Anxiety, use="pairwise.complete.obs", method="kendall")

[1] -0.2847919

In [16]:
library(Hmisc)
rcorr(data.corr$Exam, data.corr$Anxiety, type="pearson")

      x     y
x  1.00 -0.44
y -0.44  1.00

n= 103


P
  x  y
x     0
y  0

In [17]:
library(Hmisc)
rcorr(data.corr$Exam, data.corr$Anxiety, type="spearman")

     x    y
x  1.0 -0.4
y -0.4  1.0

n= 103


P
  x  y
x     0
y  0

In [18]:
cor.test(data.corr$Exam, data.corr$Anxiety, type="spearman")

	Pearson's product-moment correlation

data:  data.corr$Exam and data.corr$Anxiety
t = -4.938, df = 101, p-value = 3.128e-06
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5846244 -0.2705591
sample estimates:
       cor
-0.4409934

UNtuk dapat digunakan sebagai test signifikasi, maka lebih banyak asumsi yang diperlukan: harus bersitribusi normal
kedua variabel juga harus normallu distributed

Jika tidak normal. gunakan korelsi lain atau bootstraping

In [20]:
data.corr2<-data.corr[,c("Exam", "Anxiety", "Revise")]
cor(data.corr2)

        Exam       Anxiety    Revise
Exam     1.0000000 -0.4409934  0.3967207
Anxiety -0.4409934  1.0000000 -0.7092493
Revise   0.3967207 -0.7092493  1.0000000

# Using R^2

In [24]:
round((cor(data.corr2)^2)*100, 2)

        Exam   Anxiety Revise
Exam    100.00  19.45   15.74
Anxiety  19.45 100.00   50.30
Revise   15.74  50.30  100.00