In [1]:
data.lwdf<-read.delim("Lecturer data.dat", header=TRUE)

In [2]:
str(data.lwdf)

'data.frame':	10 obs. of  7 variables:
 $ name      : chr  "Ben" "Martin" "Andy" "Paul" ...
 $ birth_date: chr  "7/3/1977" "5/24/1969" "6/21/1973" "7/16/1970" ...
 $ job       : int  1 1 1 1 1 2 2 2 2 2
 $ friends   : int  5 2 0 4 1 10 12 15 12 17
 $ alcohol   : int  10 15 20 5 30 25 20 16 17 18
 $ income    : int  20000 40000 35000 22000 50000 5000 100 3000 10000 10
 $ neurotic  : int  10 17 14 13 21 7 13 9 14 13

In [5]:
lecturePersonality<-data.lwdf[,c("friends","alcohol","neurotic")]

In [6]:
lecturePersonality

   friends alcohol neurotic
1   5      10      10
2   2      15      17
3   0      20      14
4   4       5      13
5   1      30      21
6  10      25       7
7  12      20      13
8  15      16       9
9  12      17      14
10 17      18      13

In [17]:
hanyaDosen<-data.lwdf[job=="Lecturer",]

ERROR: Error in `[.data.frame`(data.lwdf, job == "Lecturer", ): object 'job' not found

In [13]:
data.lwdf$job

 [1] 1 1 1 1 1 2 2 2 2 2