In [1]:
data.lwdf<-read.delim("Lecturer data.dat", header=TRUE)

In [2]:
str(data.lwdf)

'data.frame':	10 obs. of  7 variables:
 $ name      : chr  "Ben" "Martin" "Andy" "Paul" ...
 $ birth_date: chr  "7/3/1977" "5/24/1969" "6/21/1973" "7/16/1970" ...
 $ job       : int  1 1 1 1 1 2 2 2 2 2
 $ friends   : int  5 2 0 4 1 10 12 15 12 17
 $ alcohol   : int  10 15 20 5 30 25 20 16 17 18
 $ income    : int  20000 40000 35000 22000 50000 5000 100 3000 10000 10
 $ neurotic  : int  10 17 14 13 21 7 13 9 14 13

In [5]:
lecturePersonality<-data.lwdf[,c("friends","alcohol","neurotic")]

In [6]:
lecturePersonality

   friends alcohol neurotic
1   5      10      10
2   2      15      17
3   0      20      14
4   4       5      13
5   1      30      21
6  10      25       7
7  12      20      13
8  15      16       9
9  12      17      14
10 17      18      13

In [17]:
hanyaDosen<-data.lwdf[job=="Lecturer",]

ERROR: Error in `[.data.frame`(data.lwdf, job == "Lecturer", ): object 'job' not found

In [13]:
data.lwdf$job

 [1] 1 1 1 1 1 2 2 2 2 2

In [2]:
data.rshp<-read.delim("Honeymoon Period.dat", header=TRUE)
head(data.rshp)

  Person Satisfaction_Base Satisfaction_6_Months Satisfaction_12_Months
1 1      6                  6                    5
2 2      7                  7                    8
3 3      4                  6                    2
4 4      6                  9                    4
5 5      6                  7                    6
6 6      5                 10                    4
  Satisfaction_18_Months Gender
1 2                      0
2 4                      1
3 2                      1
4 1                      0
5 6                      0
6 2                      1

In [3]:
satisfactionStacked<-stack(data.rshp, select = c("Satisfaction_Base", 
                                                        "Satisfaction_6_Months", 
                                                        "Satisfaction_12_Months", 
                                                        "Satisfaction_18_Months"))

In [4]:
satisfactionStacked

    values ind
1    6     Satisfaction_Base
2    7     Satisfaction_Base
3    4     Satisfaction_Base
4    6     Satisfaction_Base
5    6     Satisfaction_Base
6    5     Satisfaction_Base
7    6     Satisfaction_Base
8    2     Satisfaction_Base
9   10     Satisfaction_Base
10  10     Satisfaction_Base
11   8     Satisfaction_Base
12   6     Satisfaction_Base
13   7     Satisfaction_Base
14   6     Satisfaction_Base
15   9     Satisfaction_Base
16  10     Satisfaction_Base
17   1     Satisfaction_Base
18   5     Satisfaction_Base
19   6     Satisfaction_Base
20   5     Satisfaction_Base
21   3     Satisfaction_Base
22   3     Satisfaction_Base
23   7     Satisfaction_Base
24   3     Satisfaction_Base
25   9     Satisfaction_Base
26   8     Satisfaction_Base
27   8     Satisfaction_Base
28   7     Satisfaction_Base
29  10     Satisfaction_Base
30   7     Satisfaction_Base
... ...    ...
431  7     Satisfaction_18_Months
432  5     Satisfaction_18_Months
433  8     Satisfaction_18_Months
434 NA     Satisfaction_18_Months
435  1     Satisfaction_18_Months
436 NA     Satisfaction_18_Months
437  2     Satisfaction_18_Months
438  3     Satisfaction_18_Months
439 NA     Satisfaction_18_Months
440  6     Satisfaction_18_Months
441  3     Satisfaction_18_Months
442  4     Satisfaction_18_Months
443 NA     Satisfaction_18_Months
444  5     Satisfaction_18_Months
445  3     Satisfaction_18_Months
446  3     Satisfaction_18_Months
447  6     Satisfaction_18_Months
448  8     Satisfaction_18_Months
449 NA     Satisfaction_18_Months
450  3     Satisfaction_18_Months
451 NA     Satisfaction_18_Months
452 NA     Satisfaction_18_Months
453  2     Satisfaction_18_Months
454  4     Satisfaction_18_Months
455  1     Satisfaction_18_Months
456  1     Satisfaction_18_Months
457  7     Satisfaction_18_Months
458  7     Satisfaction_18_Months
459 NA     Satisfaction_18_Months
460  1     Satisfaction_18_Months

In [9]:
library(reshape)
restructuredData<-melt(data.rshp, id = c("Person", "Gender"), 
                       measured = c("Satisfaction_Base", "Satisfaction_6_Months", "Satisfaction_12_Months", 
                                    "Satisfaction_18_Months"))

Attaching package: 'reshape'


The following object is masked from 'package:dplyr':

    rename

In [10]:
restructuredData

    Person Gender variable               value
1    1     0      Satisfaction_Base       6
2    2     1      Satisfaction_Base       7
3    3     1      Satisfaction_Base       4
4    4     0      Satisfaction_Base       6
5    5     0      Satisfaction_Base       6
6    6     1      Satisfaction_Base       5
7    7     0      Satisfaction_Base       6
8    8     0      Satisfaction_Base       2
9    9     0      Satisfaction_Base      10
10  10     0      Satisfaction_Base      10
11  11     0      Satisfaction_Base       8
12  12     0      Satisfaction_Base       6
13  13     1      Satisfaction_Base       7
14  14     0      Satisfaction_Base       6
15  15     1      Satisfaction_Base       9
16  16     1      Satisfaction_Base      10
17  17     1      Satisfaction_Base       1
18  18     0      Satisfaction_Base       5
19  19     1      Satisfaction_Base       6
20  20     0      Satisfaction_Base       5
21  21     0      Satisfaction_Base       3
22  22     1      Satisfaction_Base       3
23  23     0      Satisfaction_Base       7
24  24     0      Satisfaction_Base       3
25  28     1      Satisfaction_Base       9
26  29     1      Satisfaction_Base       8
27  30     0      Satisfaction_Base       8
28  31     0      Satisfaction_Base       7
29  32     0      Satisfaction_Base      10
30  33     1      Satisfaction_Base       7
... ...    ...    ...                    ...
431  94    1      Satisfaction_18_Months  7
432  95    1      Satisfaction_18_Months  5
433  96    0      Satisfaction_18_Months  8
434  97    1      Satisfaction_18_Months NA
435  98    0      Satisfaction_18_Months  1
436  99    1      Satisfaction_18_Months NA
437 100    1      Satisfaction_18_Months  2
438 101    0      Satisfaction_18_Months  3
439 102    1      Satisfaction_18_Months NA
440 103    1      Satisfaction_18_Months  6
441 104    1      Satisfaction_18_Months  3
442 105    0      Satisfaction_18_Months  4
443 106    0      Satisfaction_18_Months NA
444 107    1      Satisfaction_18_Months  5
445 108    1      Satisfaction_18_Months  3
446 109    0      Satisfaction_18_Months  3
447 110    0      Satisfaction_18_Months  6
448 111    0      Satisfaction_18_Months  8
449 112    1      Satisfaction_18_Months NA
450 113    0      Satisfaction_18_Months  3
451 114    1      Satisfaction_18_Months NA
452 115    1      Satisfaction_18_Months NA
453 116    1      Satisfaction_18_Months  2
454 117    1      Satisfaction_18_Months  4
455 118    1      Satisfaction_18_Months  1
456 119    1      Satisfaction_18_Months  1
457 120    1      Satisfaction_18_Months  7
458 121    1      Satisfaction_18_Months  7
459 122    1      Satisfaction_18_Months NA
460 123    0      Satisfaction_18_Months  1

In [13]:
low.test<-tribble(
  ~colAA, ~colBB,~colCC, ~colDD,
  "a",   1, "tu", "N",
  "b",   2, "ti", "K",
  "c",   3, "te", "Y",
)

In [14]:
low.test

  colAA colBB colCC colDD
1 a     1     tu    N
2 b     2     ti    K
3 c     3     te    Y